@charset "UTF-8";
/* CSS Document */

body {
	font-family: Arial, Helvetica, sans-serif;

}

.center {
	text-align:center;
	vertical-align: central;
}

svg {
	fill: #9C3;
}

.custom {
	color: #9C3;
}

#banner {
	text-align: right;
	padding-top: 30px;
	}
	
#banner h1 {
	font-size: 38px;
	margin-bottom: -10px;
	}

#main {
	text-align: right;
	text-justify: auto;
	}

h2 {
	cursor: pointer;
	}
	
h2.close {
	background-image: url(../_images/close.png);
	}

h3 {

}
